@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
   background-color: black;

}



.home {
   text-decoration: underline;
   text-decoration-color: #ff0000;
   text-underline-offset: 8px;
}

.digital {
   text-decoration: overline;
   text-decoration-color: #ff0000;
   text-decoration-thickness: 2px;
}

.square {
   border: 5px solid #ff0000;
   border-width: 1px;
   padding: 6px;
}


.top-container {
   width: 400px;
   height: 300px;
   background-color: #ff0000;
   display:inline-block;

}

.middle-container {
   width: 400px;
   height: 300px;
   background-color: hsl(357, 0%, 28%);
   display: inline-block;
}

.bottom-container {
   width: 400px;
   height: 300px;
   background-color: hsl(357, 0%, 28%);
   display: inline-block;
}

.product {
   text-decoration: underline;
   text-decoration-color:  #ff0000;
   text-underline-offset: 8px;
}

.prod {
   text-decoration: underline;
   text-decoration-color:  white;
   text-underline-offset: 8px;
}